<ul class="nav nav-tabs">
  <li role="presentation"><a href="/prayers/">Home</a></li>
  <li role="presentation"><a href="/prayers/my_prayers">My Prayer Requests</a></li>
  <li role="presentation"><a href="/prayers/added_prayers">My Prayer Items</a></li>
</ul>
<h3>My Prayer Items</h3>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Title</th>
      <th>Lister</th>
      <th>Description</th>
      <th>Category</th>
      <th>Answered</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @prayers.each do |prayer| %>
      <tr>
        <td><%= prayer.name %></td>
        <td><%= prayer.user.name %></td>
        <td><%= prayer.description %></td>
        <td><%= prayer.category %></td>
        <td><%= prayer.status %></td>
        <td>
          <% if prayer.user.name == current_user.name %>
            <%= link_to 'Edit', edit_prayer_path(prayer) %>
            <%= link_to 'Delete', prayer, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% else %>
            <%= link_to 'Show', prayer %>
            <% end %>
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
<% else %>
  <%= link_to('Login', new_user_session_path)  %>  
<% end %>
