<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @prayer.name %>
</p>

<p>
  <strong>Lister:</strong>
  <%= @prayer.user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @prayer.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @prayer.category %>
</p>

<p>
  <strong>Status:</strong>
  <%= @prayer.status %>
</p>

<% if @prayer.user.name != current_user.name %>
    <%= form_for [@prayer] do |f| %>
  <p>
    <% if !current_user.favorites.exists?(@prayer) %>
    <strong>Add to my prayer list? </strong>
      <%= link_to "Add",   favorite_prayer_path(@prayer, type: "favorite"), :class => "btn btn-primary", method: :put %>
    <% else %>
    <strong>Remove from my prayer list? </strong>
    <%= link_to 'Remove', favorite_prayer_path(@prayer, type: "unfavorite"), :class => "btn btn-primary", method: :put %>
    <% end %>
  </p>
  <% end %> 
<% else %>                 
<% end %>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_prayer_path(@prayer) %> |
<%= link_to 'Back', added_prayers_prayers_path %>
